

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

p {
	margin: 30px auto;
}
/*=============================*/

body {
	background-color: black;
	color: black;
	font-family: "Cabin", Verdana, sans-serif;
	line-height: 1.5em;
	text-decoration: none;
}

.overall-container {
	background-color: white;
	border: 1px solid rgba(125, 125, 125, 1.0);
	max-width: 85%;
	margin: 100px auto;
}

h1 {
	font-size: 2.5em;
	margin: 40px 0;
}

h2 {
	display: block;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	margin: 10px;
	padding: 5px;
}


h3 {
	font-size: 1.5em;
	margin: 15px;
}


/*********************** header ********************/



header {
	background-image: url(images/bkgrnd.jpg);
	background-position: bottom;
	border-bottom: 1px solid rgba(142, 187, 211, 1.0);
	padding: 40px;
	text-align: center;
	margin: 0px auto;
	overflow: auto;
}

header img {
	border: solid 10px black;
	border-radius: 100%;
	margin: 40px auto;
	width: 200px;
}

.header-container {
	max-width: 900px;
	margin: auto;
}


.header-container h2 {
	padding: 15px;
}

.exp-header {
	margin: 30px auto;
}

.content p {
	font-size: 1.2em;
}

header h1 {
	display: inline-block;
	font-weight: bold;
	margin: 10px;
	padding: 10px;
}

header h4 {
	line-height: 1.5em;
}

header p {
	display: inline-block;
	font-size: 1.5em;
	margin: 10px;
	padding: 10px;

}

header ul {
	height: 50px;
}



header li {
	background-color: rgba(0, 0, 0, 0.0);
	border-radius: 10px;
	color: black;
	display: inline-block;
	font-size: 1.5em;
	margin: 10px 20px auto;
	max-width: 170px;
	padding: 10px;
}

header li:hover {
	background-color: rgba(18, 117, 177, 1.0);
  color: white;
	display: inline-block;
	transition: 0.2s;
}

header li a {
	color: black;
}

header li:hover a {
	color: white;
}


/*********************** skills ********************/

#skills {
	margin-top: 20px;
	padding-top: 20px;
	text-align: center;
}

#skills h2 {
	margin: 30px;
}

.skills-container {
	margin: auto;
	max-width: 88%;
}

.col {
	background-color: rgba(215, 212, 207, 1.0);
	border: 1px solid rgba(18, 117, 177, 1.0);
	border-radius: 10px;
	display: inline-block;
	margin: 0 2%;
	width: 23%;
	padding: 2%;
	vertical-align: top;
	text-align: center;
}

.column-head {
	font-size: 1.3em;
	text-decoration: underline;
}

#skills li {
	margin: 10px;
	padding: 5px;

}




/*********************** experience ********************/

#experience {
}

.experience-container {
	margin: 20px auto;
	max-width: 85%;
	overflow: auto;
}

.experience-container h2 {
	margin: 40px auto;
}

.box {
	border-radius: 10px;
	float: left;
	height: 200px;
	margin-bottom: 15px;
	position: relative;
	width: 250px;
}

.exp-text {
	border-radius: 10px;
	height: 200px;
	border: 1px solid rgba(18, 117, 177, 1.0);
	padding: 0 20px;
	margin: 20px;
	width: 56%;
}

.box-1 {
	border: 1px solid rgba(18, 117, 177, 1.0);
	background-image: url(images/logo-ironyard.png);
	background-position: center;
	background-repeat: no-repeat;
	float: right;
	margin: 0 1.5% 0 0;
	width: 32.333333%;
}


.box-2 {
	border: 1px solid rgba(18, 117, 177, 1.0);
	background-image: url(images/ETSY-logo.png);
	background-position: center;
	background-repeat: no-repeat;
	float: right;
	margin: 0 1.5% 0 0;
	width: 32.333333%;
}

.box-3 {
	border: 1px solid rgba(18, 117, 177, 1.0);
	background-image: url(images/macbook-combined.png);
	background-position: center;
	background-repeat: no-repeat;
	float: right;
	margin: 0 1.5% 0 0;
	width: 32.333333%;
}


.box-4 {
	border: 1px solid rgba(18, 117, 177, 1.0);
	background-image: url(images/lm-logo.png);
	background-position: center;
	background-repeat: no-repeat;
	float: right;
	margin: 0 1.5% 0 0;
	width: 32.333333%;

}


.overlay {
	border-radius: 10px;
	background-color: rgba(215, 212, 207, 1.0);
	color: black;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	top: 0;
}

.box:hover .overlay {
	background-color: rgba(215, 212, 207, 0.7);
}

.overlay .content {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	transition: 0.2s;
}

.box:hover .content {
	bottom: 30px;
}

a {
	text-decoration: none;
}

.content a {
	color: black;
}


.overlay .case-study {
	border: solid 1px black;
	border-radius: 5px;
	opacity: 0;
	margin: 10px auto;
	max-width: 130px;
	padding: 10px;
	transition: 0.2s;
	transition-property: bottom;
}

.box:hover .case-study {
	opacity: 1;
}

.case-study:hover {
	background-color: rgba(18, 117, 177, 1.0);
	color: white;
}

/****************** footer **********************/

.footer-container {
	height: 150px;
	text-align: center;
}

#footer img {
	width: 50px;
}

.phone img {
	height: 20px;
	width: 10px;
}

#footer li {
	background-color: rgba(177, 177, 177, 0.0);
	border-radius: 10px;
	color: black;
	display: inline-block;
	margin: 10px auto;
	max-width: 130px;
	padding: 10px;
}

#footer li:hover {
	display: inline-block;
	transition: 0.2s;
}


/****************************************/

/*.item{
    display: block;
}

a{
    text-decoration:none;
}

.label {
		border: 2px solid white;
    padding: 1px 3px 2px 0;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    white-space: nowrap;
    height: 100px;
}

.label.success {
    background-color: white;
}

span.add-label{
 display:none;
}

.item:hover span.align{
 display:none;
}

.item:hover span.add-label{
 display:block;
}
*/

@media (max-width: 1100px) {

	h2 {
		font-size: 2em;
	}

	header li {
		font-size: 2em;
	}


	.header-container h1 {
		line-height: 1.2em;
	}

	.col {
		display: block;
		font-size: 1.5em;
		margin: 15px auto;
		padding: 2%;
		text-align: center;
		min-width: 225px;
	}



	.box {
		float:none;
		font-size: 1.5em;
		padding: 10px;
		margin: auto;
		width: 75%;
		min-width: 225px;
	}

	.box .case-study {
		opacity: 1;
		background-color: white;
		color: black;
	}

	.case-study:hover {
		
	}

	.exp-text {
		height: auto;
		font-size: 1.5em;
		padding: 10px;
		width: 75%;
		min-width: 225px;
		margin: auto;
		margin-bottom: 20px;
	}

	.footer-list {
		font-size: 1.8em;
	}

	.item {
		font-size: 1.8em;
	}




}
